h1 { font-size: 1.0rem !important; }
h2 { font-size: 0.9rem !important; }
h3 { font-size: 0.8rem !important; }

p {
  font-size: 0.7rem !important;
  font-family: 'Pretendard', sans-serif !important;
}

code { font-size: 0.7rem !important; }
