h1 { font-size: 1.1rem !important; }
h2 { font-size: 1.0rem !important; }
h3 { font-size: 0.9rem !important; }

p {
  font-size: 0.8rem !important;
  font-family: 'Pretendard', sans-serif !important;
  line-height: 1.6;
}

pre { 
  font-size: 0.6rem !important;
  line-height: 1.4;
}
ol { font-size: 0.8rem !important; }
ul { font-size: 0.8rem !important; }
